.card {
  border: 1px solid black;
  background-color: white;
  margin: 0.25em;
  width: 1.5em;
  float: left;
}

.staging-area {
  background-color: green;
  height: 3em;
  margin: 1em;
}

.hand {
  background-color: yellow;
  height: 3em;
  margin: 1em;
}

.center {
  background-color: blue;
  height: 3em;
  margin: 1em;
}
