$cornsilk: #f7f3dc;
$yellow: #f4d666;
$orange: #f7b88b;
$darkorange: #e8775a;
$red: #bd4a39;
$grey: #dbd8d5;
$darkgrey: #a6a09f;
$darkergrey: #615b5a;
$shadow: rgba(0, 0, 0, 0.2);

body {
  margin: 0;
  font-family: -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $cornsilk;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* placeholder classes */
%shadow {
  box-shadow: 0.5vw 0.5vw 0.25vw $shadow;
}

%card-area {
  @extend %shadow;
  border-radius: 0.5em;
  padding: 0.75vw;
  margin: 1vw;
  min-height: 10vw;
  flex-wrap: wrap;
  min-width: 25vw;
  display: flex;
  justify-content: center;
}

%hand {
  @extend %card-area;
  margin: 1vw 1vw 2vw;
}

%player-status {
  @extend %shadow;
  border-radius: 1em;
  padding: 2vw;
  margin: 0vw 0vw 1vw;
  text-align: center;
  font-weight: bold;
  width: 6vw;
}

%player-area {
  @extend %shadow;
  border-radius: 1em;
  margin: 1vw;
  font-weight: bold;
  font-variant: small-caps;
}

/* card related */
.card {
  width: 6.75vw;
  margin: 0.25vw;
}

.card-small {
  width: 1em;
}

.ghost-card {
  opacity: 0;
}

.selected-card {
  position: relative;
  top: -0.5em;
}

/* board related */
.center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.no-shadow {
  box-shadow: 0vw 0vw;
}

.game-area {
  margin: 1vw;
}

.center {
  @extend %card-area;
  background-color: $yellow;
}

.center-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.current-player-status {
  @extend %player-status;
  background-color: $darkorange;
}

.passed-player-status {
  @extend %player-status;
  background-color: $grey;
}

.player-status {
  @extend %player-status;
  background-color: $orange;
}

.current-player-area {
  @extend %player-area;
  background-color: $darkorange;
}

.passed-player-area {
  @extend %player-area;
  background-color: $grey;
}

.player-area {
  @extend %player-area;
  background-color: $orange;
}

/* internal player area related*/

.staging-area {
  @extend %card-area;
  background-color: $darkorange;
}

.passed-staging-area {
  @extend %card-area;
  background-color: $darkgrey;
}

.current-staging-area {
  @extend %card-area;
  background-color: $red;
}

.hand {
  @extend %hand;
  background-color: $darkorange;
}

.passed-hand {
  @extend %card-area;
  background-color: $darkgrey;
}

.current-hand {
  @extend %hand;
  background-color: $red;
}

.round-type {
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
}

/* button related */
button {
  @extend %shadow;
  margin: 0.5em;
  background-color: $cornsilk;
  font-weight: bold;
  border-radius: 1em;
  border: 0.25em solid $yellow;
}

.tien-len {
  background-color: $yellow;
  border-color: $orange;
}

.disabled {
  background-color: $grey;
  border-color: $darkgrey;
  color: $darkergrey;
}

.wait {
  background-color: $darkgrey;
  border-color: $darkergrey;
  color: $darkergrey;
}
