body {
  margin: 0;
  font-family: -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f5f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* card related */
.card {
  width: 6.75vw;
  margin: 0.25vw;
}

.card-small {
  width: 1em;
}

.ghostCard {
  opacity: 0;
}

.selectedCard {
  position: relative;
  top: -0.5em;
}

/* board related */
.centerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center {
  background-color: darkgreen;
  padding: 0.5em;
  margin: 0.5em;
  min-height: 10vw;
  flex-wrap: wrap;
  min-width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.currentPlayerStatus {
  background-color: #56b35c;
  border-radius: 1em;
  margin: 1vw;
  padding: 2vw;
}

.playerStatus {
  background-color: #a9dbad;
  border-radius: 1em;
  margin: 1vw;
  padding: 2vw;
}

.currentPlayerArea {
  background-color: #56b35c;
  border-radius: 1em;
  margin: 1vw;
}

.playerArea {
  background-color: #a9dbad;
  border-radius: 1em;
  margin: 1vw;
}

/* internal player area related*/
.stagingArea {
  background-color: #307336;

  padding: 0.5em;
  margin: 0.5em;
  min-height: 10vw;
  flex-wrap: wrap;
  min-width: 25vw;
  display: flex;
  align-items: center;
  align-self: center;
}

.hand {
  background-color: #307336;
  padding: 0.75%;
  margin: 0.5%;
  flex-wrap: wrap;
  width: 95vw;
  align-items: flex;
  display: flex;
  justify-content: center;
}

.roundType {
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
}

/* button related */
button {
  margin: 0.5em;
  background-color: #307336;
  color: white;
  font-weight: bold;
  border-radius: 1em;
  border: 0.25em solid darkgreen;
}

.tienlen {
  background-color: yellow;
  color: black;
}

.disabled {
  background-color: #95ad95;
  border: 0.25em solid #647564;
  color: black;
}

.wait {
  background-color: darkgreen;
  border: 0.25em solid black;
}

.status {
  font-family: monospace;
  font-size: 1em;
}
