.card {
  width: 4em;
  margin: 0.1em;
}

.ghostCard {
  opacity: 0;
}

.selectedCard {
  position: relative;
  top: -0.5em;
}
.stagingArea {
  background-color: green;
  height: 3.5em;
  padding: 0.75em;
  margin: 1em;
}

.hand {
  background-color: yellow;
  height: 6em;
  padding: 0.75em;
  margin: 1em;
}

.center {
  background-color: blue;
  height: 4em;
  margin: 1em;
}

.player-area {
  background-color: #eeeeee;
  padding: 1em;
  margin: 0.25em;
}

.button {
  margin: 0.5em;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 1em;
  border: 0.25em solid darkgreen;
}
