.card {
  border: 1px solid black;
  background-color: white;
  margin: 0.25em;
  width: 1.5em;
  float: left;
  font-size: 1.25em;
}

.ghostCard {
  opacity: 0;
}

.selectedCard {
  position: relative;
  top: -0.5em;
}
.stagingArea {
  background-color: green;
  height: 3.5em;
  padding: 0.75em;
  margin: 1em;
}

.hand {
  background-color: yellow;
  height: 3.5em;
  padding: 0.75em;
  margin: 1em;
}

.center {
  background-color: blue;
  height: 4em;
  margin: 1em;
}

.player-area {
  background-color: #eeeeee;
  padding: 1em;
  margin: 0.25em;
}
